/* Layout */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Component */
.header {
    background-color: #070c18;
}

.main {
    background-color: pink;
}

.header .killingeve-img {
    height: 660px;
    background-image: url(../img/killing-eve.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.movie-intro {
    display: flex;
    column-gap: 160px;
    justify-content: center;
}

.movie-desc {
    box-sizing: border-box;
    width: 50%;
    border: 2px solid black;
    background-color: cornflowerblue;
}

.movie-info {
    box-sizing: border-box;
    width: 50%;
    border: 2px solid black;
    background-color: cornsilk;
}