/* Layout */

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Component */
.header {
    background-color: #100f17;
}

.main {
    background-color: pink;
}

.header .killingeve-img {
    height: 660px;
    background: linear-gradient(
        to bottom,
        rgba(20, 20, 20, 0) 10%,
        rgba(20, 20, 20, 0.25) 25%,
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20, 0.75) 75%,
        rgba(20, 20, 20, 0.95) 100% 
    ), url(../img/killingeve-img.jpeg);
    background-size: cover;
}

.movie-intro {
    display: flex;
    column-gap: 160px;
    justify-content: center;
}

.movie-desc {
    width: 50%;
    background-color: cornflowerblue;
}

.movie-desc img {
    width: 250px;
}

.movie-info {
    width: 50%;
    background-color: cornsilk;
}

